@using Classes


@* <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/VW_Golf_1.4_TSI_BlueMotion_Technology_CUP_%28VII%29_%E2%80%93_Frontansicht%2C_15._Juni_2014%2C_D%C3%BCsseldorf.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><strong>@Car.Brand</strong> @Car.Model</h5>
                <p class="card-text"><strong>Year:</strong> @Car.Year</p>
                <p class="card-text"><strong>Color:</strong> @Car.Color</p>
                <p class="card-text"><strong>Horsepower:</strong> @Car.HorsePower</p>
                <p class="card-text"><strong>Engine Size:</strong> @Car.EngineSize - <strong>Cylinders:</strong> @Car.CylinderCount</p>
                <p class="card-text"><strong>Kilometers Driven: </strong>@Car.KilometerDriven</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
 *@

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>@Car.Brand</strong> @Car.Model</h5>
                <img src="\images\VW_Golf_1.4_TSI_BlueMotion_Technology_CUP_(VII)_–_Frontansicht,_15._Juni_2014,_Düsseldorf.jpg" class="card-img" alt="...">
                <p class="card-text"><strong>Year:</strong> @Car.Year</p>
                <p class="card-text"><strong>Color:</strong> @Car.Color</p>
                <p class="card-text"><strong>Horsepower:</strong> @Car.HorsePower</p>
                <p class="card-text"><strong>Engine Size:</strong> @Car.EngineSize - <strong>Cylinders:</strong> @Car.CylinderCount</p>
                <p class="card-text"><strong>Kilometers Driven: </strong>@Car.KilometerDriven</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>@EV.Brand</strong> @EV.Model</h5>
                <img src="\images\VW_Golf_1.4_TSI_BlueMotion_Technology_CUP_(VII)_–_Frontansicht,_15._Juni_2014,_Düsseldorf.jpg" class="card-img" alt="...">
                <p class="card-text"><strong>Year:</strong> @EV.Year</p>
                <p class="card-text"><strong>Color:</strong> @EV.Color</p>
                <p class="card-text"><strong>Power:</strong> @EV.PowerHP HP</p>
                <p class="card-text"><strong>Battery Capacity:</strong> @EV.BatteryCapacityKWH kWh</p>
                <p class="card-text"><strong>Price: </strong>@EV.Price</p>
                <p class="card-text"><strong>Kilometers Driven: </strong>@EV.KilometerDriven</p
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public CombustionCar? Car { get; set; }
    [Parameter] public ElectricCar? EV { get; set; }

}